@font-face {
    font-family: 'Pokemon Solid';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/DaFont.com/CC00/Pokemon Solid.ttf');
}


@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/electrolize-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/electrolize-v14-latin-regular.eot?#iefix'), /* IE6-IE8 */
         url('/assets/fonts/electrolize-v14-latin-regular.woff2'), /* Super Modern Browsers */
         url('/assets/fonts/electrolize-v14-latin-regular.woff'), /* Modern Browsers */
         url('/assets/fonts/electrolize-v14-latin-regular.ttf'), /* Safari, Android, iOS */
         url('/assets/fonts/electrolize-v14-latin-regular.svg#Electrolize'); /* Legacy iOS */
  }


@font-face {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/michroma-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/michroma-v16-latin-regular.eot?#iefix'), /* IE6-IE8 */
         url('/assets/fonts/michroma-v16-latin-regular.woff2'), /* Super Modern Browsers */
         url('/assets/fonts/michroma-v16-latin-regular.woff'), /* Modern Browsers */
         url('/assets/fonts/michroma-v16-latin-regular.ttf'), /* Safari, Android, iOS */
         url('/assets/fonts/michroma-v16-latin-regular.svg#Michroma'); /* Legacy iOS */
  }